.backImage {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 600px;
}

.pp > .row {
    padding: 20px;
    border-top: solid;
    border-width: thin;
    border-color: black;
}

div .pp > .danger {
    background-color: #F2DEDE;
}

div .pp > .success {
    background-color: #DFF0D8;
}
