<div class="pp">
  <div class="row timer">
    <div class="col-xs-12 text-center">
      <h1><timer interval="1000">{{mminutes}}:{{sseconds}}</timer></h1>
    </div>
  </div>
  <div class="row dev" ng-repeat="dev in ctrl.getDevs() | orderBy:'name'" ng-class="{success: dev.voted, danger: !dev.voted}">
    <div class="col-xs-2 dev_info">
      <div class="row">
        <div class="col-xs-6">{{dev.name}}</div>
        <div class="col-xs-6">
          <button type="button"
                  class="btn btn-default btn-sm"
                  ng-click="ctrl.deleteDev(dev)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-10 dev_vote">
      <div class="row">
        <div class="col-xs-1" ng-repeat="choice in ctrl.getTeam().choices">
          <button type="button"
                  class="btn btn-default"
                  ng-class="{'btn-success': (ctrl.getTeam().allVoted || dev.isMe) && dev.vote==choice}"
                  ng-disabled="!dev.isMe"
                  ng-click="ctrl.vote(choice)">{{choice}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row votes" ng-class="{success: ctrl.getTeam().allVoted, danger: !ctrl.getTeam().allVoted}">
    <div class="col-xs-2">
      <div class="row">
        <div class="col-xs-6">{{ctrl.getTeam().name}}</div>
        <div class="col-xs-6">
          <button type="button"
                  class="btn btn-default btn-sm"
                  ng-click="ctrl.cleanVotes()">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          <button type="button"
                  class="btn btn-default btn-sm"
                  data-toggle="collapse"
                  data-target="#config">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-1" ng-repeat="choice in ctrl.getTeam().choices">
          <button type="button"
                  class="btn btn-default"
                  ng-class="{'btn-success': ctrl.isVoteMax(choice)}"
                  ng-disabled="true">{{ctrl.getNbVotes(choice)}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse config" id="config" ng-class="{success: ctrl.getTeam().allVoted, danger: !ctrl.getTeam().allVoted}">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
      <form class="form-inline" ng-submit="ctrl.setChoices()">
        <input type="text"
               id="conf"
               ng-model="ctrl.choisesAsString"
               size="40"
               autofocus/>
        <button type="submit">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </form>
    </div>
  </div>
  <div class="row footer"></div>
</div>